[Unit]
Description=Tracker Extractor
After=tracker-store.service
Requires=dbus.socket tracker-store.service

[Service]
ExecStart=/usr/libexec/tracker-extract
OOMScoreAdjust=0
Type=dbus
BusName=org.freedesktop.Tracker1.Miner.Extract
Restart=always
RestartSec=5

[Install]
WantedBy=post-user-session.target
