[Unit]
Description=Tracker Store
After=user-session.target
Requires=dbus.socket


[Service]
ExecStart=/usr/libexec/tracker-store
Type=dbus
BusName=org.freedesktop.Tracker1
Restart=always
RestartSec=5

[Install]
WantedBy=post-user-session.target
