[Unit]
Description=Tracker Miner
After=tracker-store.service
Requires=dbus.socket tracker-store.service

[Service]
ExecStart=/usr/libexec/tracker-miner-fs
OOMScoreAdjust=0
Type=dbus
BusName=org.freedesktop.Tracker1.Miner.Files
Restart=always
RestartSec=5

[Install]
WantedBy=post-user-session.target
